<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<h2>ブログ記事作成</h2>

<form method="POST" action="/add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">タイトル</label><br>
        <input type="text" name="title">

        <!-- <input type="text" name="title" maxlength="18" onkeyup="ShowLength(value);"> -->
        <!-- <p id="inputlength">0/18</p> -->
    </div>
    <div class="form-group">
        <label for="body">本文</label><br>
        <textarea name="body" rows="30" cols="100"></textarea>
    </div>

    <div class="form-group">
        <label for="tag">タグ</label><br>
        <input type="text" name="add-tag">
    </div>

    <div class="form-group">
        <p><input type="file" name = "file">
    </div>

    <div class="form-group">
        <input type="submit" value="コンテンツ追加">
    </div>

</form>
{% endblock %}