<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<h2>ブログ記事作成</h2>

<form method="POST" action="/add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">タイトル</label><br>
        <input type="text" name="title">
    </div>
    <div class="form-group">
        <label for="body">本文</label><br>
        <textarea name="body" rows="30" cols="100"></textarea>
    </div>

    <div class="form-group">
        <label for="title">追加するタグ</label><br>
        <input type="text" name="add-tag">
    </div>

    <div>
        <p><input type="file" name = "file">
        <input type="submit" value="追加">
    </div>

</form>
{% endblock %}