<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<h2>登録内容の削除</h2>
    <p>現在登録されているユーザーの一覧です。</p>

    <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.createTime }}</td>
            <td>{{ user.updateTime }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>下記に削除したいユーザーIDを入力してください。</p>

    <form method="POST" action="/delete">
        <label for="text">削除したいユーザーID :</label>
        <input type="number" name="id"><br><br>
        <input type="submit" value="削除">
    </form>

    <!-- flashメッセージの表示 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-message">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% endblock %}