<!--DOCTYPE html -->
<html>

<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<h2>データ一覧</h2>

{% for user in users %}

<h3><a href="/{{user.id}}/contents" role="button">{{ user.title }}</a></h4>
<div class="date-group">
    <p>作成日時 : {{ user.createTime }} /</p>
    <p>更新日時 : {{ user.updateTime }} /</p>
    <p>データID : {{ user.id }}</p>
    <p>ImagePath : {{ user.image_url }}</p>
</div>
<a href="/{{user.id}}/update" role="button">編集</a>
<hr>
{% endfor %}
    <!-- <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.createTime }}</td>
            <td>{{ user.updateTime }}</td>
            <td><a href="/{{user.id}}/update" role="button">編集</a></td>
        </tr>
        {% endfor %}

    </table> -->
{% endblock %}