<!--DOCTYPE html -->
<html>

<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<!-- app.pyの関数で渡されたリストtagsをここで拾っています。forで取り出しボタンにして表示します。 -->
<!-- <div class="tag-group">
{% for tag in tags %}
<a href="{{ url_for('search_tag', tag=tag)}}"><button type="button" class="tag-button">{{ tag }}</button></a>
{% endfor %}  
</div> -->

<div class="groups-view">    
    <div class="contents-grid-view">
    {% for user in users %}
        <div class="date-group">
            <p><a href="/{{user.id}}/contents" role="button" class="display-title">{{ user.title }}</a></p>
            <p class="createTime-text">{{ user.createTime }}</p>
            <!-- <p>更新日時 : {{ user.updateTime }} /</p>
            <p>データID : {{ user.id }}</p>
            <p>ImagePath : {{ user.image_url }}</p> -->
            <p>{{ user.tag }}</p>
            <img src="{{ user.image_url }}" alt="画像" class="display-img">
            <a href="/{{user.id}}/update" role="button">編集</a>
        </div>
        <!-- <hr> -->
    {% endfor %}
    </div>

        <nav>
        <ul class="tag-group">
            <p>タグ検索</p>
            {% for tag in tags %}
            <li><a href="{{ url_for('search_tag', tag=tag.tag)}}" class="tag-button">{{ tag.tag }}</a></li>
            {% endfor %}  
        </ul>
    </nav>
</div>

    <!-- <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.createTime }}</td>
            <td>{{ user.updateTime }}</td>
            <td><a href="/{{user.id}}/update" role="button">編集</a></td>
        </tr>
        {% endfor %}

    </table> -->
{% endblock %}