<!--DOCTYPE html -->
<html>

<!-- layout.htmlをテンプレートに拡張する-->
{% extends "layout.html" %}

{% block content %}
<h2>データの一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.createTime }}</td>
            <td>{{ user.updateTime }}</td>
            <td><a href="/{{user.id}}/update" role="button">編集</a></td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}