<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="{{ url_for('static', filename='style.js') }}"></script>
    <title>{{ pageTitle }}</title>
</head>

<body>
    <header>
        <!-- <div class="layout-title"></div> -->
    
        <h1 class="title">StableDiffusion 学習ブログ</h1>
        <nav class="main-menu-parent">
            <ul class="main-menu">
            <li><a href="/">データ一覧</a></li>
            <li><a href="/add">新規データ追加</a></li>
            <li><a href="/delete">登録データ削除</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="first-v"></div> -->
    <div class="contents-group">
        {% block content %}
        <!-- main-->
        {% endblock %}
    </div>
    <footer>
        <p>© 2023 Uebo Misato.</p>
    </footer>
</body>

</html>