<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <h1 class="layout-title">Webアプリ初心者のFlaskチュートリアル</h1>

    <nav>
        <ul class="main-menu">
        <li><a href="/">データ一覧</a></li>
        <li><a href="/add">新規データ追加</a></li>
        <li><a href="/delete">登録データ削除</a></li>
        </ul>
    </nav>
    {% block content %}
    <!-- main-->
    {% endblock %}
</body>
<footer>
    <p>© 2023 Uebo Misato.</p>
</footer>
</html>