<html>
<title>docker demo flask</title>
<head>
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/static/js/script.js"></script>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="page-header">
        <h1>🥹Docker・Flack練習ページ🥹</h1>
    </div>

    <h2>POST・GET送信やってみた</h2>

    <form action='/result'>
        <p>下に名前を入力してください！</p>
        <label for="last_name">名字: </label><input type="text" name="last_name"><br>
        <label for="first_name">名前: </label><input type="text" name="first_name">
        <div>
            <button type="submit" formmethod="GET">GET送信</button>
            <button type="submit" formmethod="POST">POST送信</button>
        </div>

    </form>
</html>
