<html>
<title>docker demo flask</title>
<head>
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/static/js/script.js"></script>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="page-header">
        <h1>🥹Docker・Flack練習ページ🥹</h1>
    </div>

    <h2>POST・GET送信やってみた</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>タスク名</th>
                    <th>期限</th>
                </tr>
            </thead>

            <tbody>
                {% for item in lists %}
                <p>{{ item }}</p>
                {% endfor %}
            </tbody>
            <!-- <tbody>
                {% for item in lists %}
                <tr>
                    <th>{{item.id}}</th>
                    <th>{{item.todo}}</th>
                    <th>{{item.date}}</th>
                </tr>
                {% endfor %}
            </tbody> -->
        </table>
    </div> 

    <form action='/result'>
        <p>＜新規登録＞</p>
        <label>
            タスク名    
            <input type="text" name="todo">
        </label>
        <label >
            期限
            <input type="text" name="date">       
        </label>
        <button type="submit" formmethod="POST">登録</button>
    </form>

    </form>
</html>
