table{
    border-collapse:collapse;
    border: 1px solid #333;
    width: 100%;
}

table th{
    text-align: center;
    padding: 5px;
}

table td{
    text-align: center;
    padding: 5px;
}

/* ----- layout.html ナビゲーションバー部分 ----- */
/* 要素の幅が中身と同じになり、要素を横並びにする */
.main-menu li{
    display: inline-block;
    width: 150px;
}
/* リスト先頭のマークを無しにする */
.main-menu {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    }
/* リンクの下線を無しにする */
.main-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    }

/* メニューとしての形を整えるために簡単な装飾 */
    nav{
        text-align: center;
        background: #fff2e3;
        }
        
        nav ul li a:hover{
        color: orange;
        }

.layout-title{
    font-size: 30px;
    text-align: center;
}

body {
    width: 95%;
    /* max-width: 1280px; */
    margin: auto; /* bodyの外側の余白を指定する */
}

.contents-group{
    margin-bottom: 80px;
}

.date-group{
    display:flex;
}

.date-group p{
    padding-right: 10px;
}

.contents-body p {
    white-space: pre-wrap;
    text-decoration: solid;
}

hr{
    border: none;
    border-top: 2px dotted #999999;
}

footer{
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    text-align: center;
    background: #fff2e3;
    width:95%;
    margin: auto; /* bodyの外側の余白を指定する */
    /* padding: 0px 10px; */
    /* max-width: 1280px; */
}

/* flaskメッセージの色指定 */
.flash-message{
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
}

.success{
    color: blue;
    text-decoration: none;
}

.failed{
    color:red;
    text-decoration: none;
}

/* 追加画面のタグ部分 */
.tag-label {
    position: relative;
}

input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
}

.tag-base{
    color: #999999;
    padding: 4px 12px;
    display:inline-block;
    border-radius: 16px;
    height: 25px;
    background-color: #ddd;
}

input:checked ~ .tag-base {
    color: rgb(54, 121, 69);
    background-color: rgb(113, 223, 139);
}