table{
    border-collapse:collapse;
    border: 1px solid #333;
    width: 100%;
}

table th{
    text-align: center;
    padding: 5px;
}

table td{
    text-align: center;
    padding: 5px;
}

/* ----- layout.html ナビゲーションバー部分 ----- */

.contents-group{
    margin-bottom: 80px;
}
/* 要素の幅が中身と同じになり、要素を横並びにする */
.main-menu li{
    display: inline-block;
    width: 150px;
}
/* リスト先頭のマークを無しにする */
.main-menu {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    }
/* リンクの下線を無しにする */
.main-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    }

/* メニューとしての形を整えるために簡単な装飾 */
.main-menu-parent{
    text-align: center;
    background:#c3f0df;
}
        
.main-menu-parent ul li a:hover{
    color: rgb(72, 149, 140);
}

.layout-title{
    font-size: 30px;
    text-align: center;
}

body {
    width: 95%;
    /* max-width: 1280px; */
    margin: auto; /* bodyの外側の余白を指定する */
    background: rgb(244, 252, 229);
}

/* -----　index.html関係　----- */

.groups-view{
    display:flex;
    padding: 20px;
}
/* タグ一覧 */
/* リスト先頭のマークを無しにする */
.tag-group {
    list-style-type: none;
    margin: 10px;
    width: 400px;
    height: 1000px;
    padding: 10px;
}

.tag-group li{
    display: inline-block;
    width: auto;
}

/* リンクの下線を無しにする */
.tag-group li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    }

.tag-button{
    display: inline-block;
    background: rgb(138, 223, 197);
    color: #fff; 
    padding: 8px 10px; 
    margin: 2px;
    text-decoration: none; 
    border-radius: 30px;
}

.contents-grid-view{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 600px 600px 600px;
    justify-items: center;
    align-items: center;
}

/* コンテンツ一つに対してのレイアウト設定 */
.date-group{
    display:flex;
    flex-direction:column;
    width: 350px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
}

.date-group p{
    padding-right: 10px;
}

.contents-body p {
    white-space: pre-wrap;
    text-decoration: solid;
}

.display-img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

/* hr{
    border: none;
    border-top: 2px dotted #999999;
} */

footer{
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    text-align: center;
    background: #c3f0df;
    width:95%;
    margin: auto; /* bodyの外側の余白を指定する */
    /* padding: 0px 10px; */
    /* max-width: 1280px; */
}

/* flaskメッセージの色指定 */
.flash-message{
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
}

.success{
    color: blue;
    text-decoration: none;
}

.failed{
    color:red;
    text-decoration: none;
}