table{
    border-collapse:collapse;
    border: 1px solid #333;
    width: 100%;
}

table th{
    text-align: center;
    padding: 5px;
}

table td{
    text-align: center;
    padding: 5px;
}

/* ----- layout.html ナビゲーションバー部分 ----- */
/* 要素の幅が中身と同じになり、要素を横並びにする */
.main-menu li{
    display: inline-block;
    width: 150px;
}
/* リスト先頭のマークを無しにする */
.main-menu {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    }
/* リンクの下線を無しにする */
.main-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    }

/* メニューとしての形を整えるために簡単な装飾 */
    nav{
        text-align: center;
        background: #fff2e3;
        }
        
        nav ul li a:hover{
        color: orange;
        }

.layout-title{
    font-size: 30px;
    text-align: center;
}

body {
    width: 1000px;
    /* max-width: 1280px; */
    margin: auto;
}

.date-group{
    display:flex;
}

.date-group p{
    padding-right: 10px;
}

hr{
    border: none;
    border-top: 2px dotted #999999;
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    text-align: center;
    background: #fff2e3;
    width: 1000px;
    /* max-width: 1280px; */
    margin: auto;
}

/* flaskメッセージの色指定 */
.flash-message{
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
}

.success{
    color: blue;
    text-decoration: none;
}

.failed{
    color:red;
    text-decoration: none;
}